<app-navbar id="nav"></app-navbar>
<br>

<div *ngIf="true" [@fadeAnimation] class="menu-container row g-0">
  <div class="row">
    <div class="col-md-3 col-sm-12 category-col">
      <div class="category-card w-full">
        <button class="especialidad-boton w-100" (click)="irAMom()">
          <span class="d-md-none">Mom</span>
          <img src="image/mom.png" [alt]="" class="especialidad-imagen w-100">
          <div class="overlay">
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 category-col">
      <div class="category-card w-full">
        <button class="especialidad-boton w-100" (click)="irAShort()">
          <span class="d-md-none">Short</span>
          <img src="image/short.png" [alt]="" class="especialidad-imagen w-100">
          <div class="overlay">
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 category-col">
      <div class="category-card w-full">
        <button class="especialidad-boton w-100" (click)="irAChupin()">
          <span class="d-md-none">Chupin</span>
          <img src="image/tiroAlto.png" [alt]="" class="especialidad-imagen w-100">
          <div class="overlay">
            <!-- <span class="text">Chupin</span> -->
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
