<app-navbar id="nav"></app-navbar>
 <br>
 <br>
 <br>
<div *ngIf="usuario && mostrarLogin" [@fadeAnimation]  class="container mt-3" >
    <h2>Detalles del Usuario</h2>
    <div class="card">
      <div class="card-body">
        <!-- Portada del usuario -->
        <div *ngIf="usuario.imagenPerfil2">
          <img [src]="usuario.imagenPerfil2" alt="Imagen de portada" class="img-fluid w-100 rounded" style="height: 200px; object-fit: cover;">
        </div>
        
        <!-- Imagen de perfil centrada -->
        <div class="text-center mt-n5" *ngIf="usuario.imagenPerfil">
          <img [src]="usuario.imagenPerfil" alt="Imagen de perfil" class="img-fluid rounded-circle border border-white" width="150" style="margin-top: -75px;">
        </div>
  
        <!-- Información general -->
        <h5 class="card-title text-center mt-3">{{ usuario.nombre }} {{ usuario.apellido }}</h5>
        <p class="card-text mb-3"><strong>Email:</strong> {{ usuario.email }}</p>
        <p class="card-text mb-3"><strong>DNI:</strong> {{ usuario.dni }}</p>
        <p class="card-text mb-3"><strong>Perfil:</strong> {{ usuario.perfil }}</p>
        
        <div *ngIf="usuario.perfil === 'paciente' && usuario.obraSocial">
          <button class="btn btn-primary mt-2" (click)="historial()">Mi historial</button>
        </div>  
        
        
      </div>  
      </div>
      
    </div>
  
  