<app-navbar></app-navbar>
<div class="container">
    <h2 class="mx-4">Detalle del producto {{productoId}}</h2>

    <div class="row">
  
        <div class="d-none d-lg-flex col-lg-2 d-flex flex-column gap-2 py-2">
            <img src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg">
            <img src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg">
            <img src="https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg">
        </div>
      
        <div class="col-sm-12 col-lg-7 text-center">        
            <button class="item-boton">
                <img src="image/catalogo-short/short-1.jpg"
                class="especialidad-imagen rounded"
                >
            </button>
        </div>

        <div class="col-12 col-lg-3 p-5 item-opciones">
            <h3>Título del producto</h3>
            
            <p>Colores:</p>
            <div class="d-flex gap-2 mb-3" id="color-buttons">
              <button class="btn rounded-circle p-3 m-1 boton-color" style="background-color: #000;" aria-label="Negro"></button>
              <button class="btn rounded-circle p-3 m-1 boton-color" style="background-color: #888;" aria-label="Gris"></button>
              <button class="btn rounded-circle p-3 m-1 boton-color" style="background-color: #007bff;" aria-label="Azul"></button>
            </div>
            
            <p>Talles:</p>
            <div class="d-flex gap-2" id="size-buttons">
              <button class="btn btn-outline-primary">S</button>
              <button class="btn btn-outline-primary">M</button>
              <button class="btn btn-outline-primary">L</button>
              <button class="btn btn-outline-primary">XL</button>
            </div>
        </div>
          
          
          
    </div>

    <div class="row p-2 fw-semibold">
        <h3>Detalles de producto</h3>
        <p>Short negro de mezclilla, ajustado y versátil, con diseño moderno y dobladillos enrollados. Perfecto para cualquier ocasión, combina estilo y comodidad.</p>
    </div>
</div>

