.container {    
    min-height: 100vh; 
    padding: 100px 0;
    overflow: hidden;
}

.item-boton {
    height: 600px;
    border-style: none;
    background-color:transparent;
    margin: 16px 0;
}

.especialidad-imagen {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}

.item-opciones {
    background-color: #eee;
}

.boton-color{
    border: 4px solid #eee;
}

.selected {
    border: 4px solid #00c23a;    
}

.active {
background-color: #0d6efd; 
color: #fff; 
}